# Server Configuration
PORT=3000
NODE_ENV="dev"

# JWT Configuration
JWT_SECRET="your_jwt_secret_key"

# Cookie Configuration in hours
ACCESS_TOKEN_EXPIRES_IN=1
REFRESH_TOKEN_EXPIRES_IN=168 # 7 days
GUEST_ID_EXPIRES_IN=720 # 30 days
ADMIN_TOKEN_EXPIRES_IN=1

# Database connection URL 
DATABASE_URL="your_database_url_here"
DIRECT_URL="your_direct_database_url_here"

# Redis Configuration
REDIS_HOST="your_redis_host_here"
REDIS_PORT=16326
REDIS_USERNAME="your_redis_username_here"
REDIS_PASSWORD="your_redis_password_here"
REDIS_ENABLED=false
REDIS_CACHE_TTL=60

# Ratelimit Configuration
RATE_LIMIT_WINDOW=10
RATE_LIMIT_MAX=100

# CORS Configuration
CORS_ORIGIN="*"

# S3 Configuration
S3_ENDPOINT=your_s3_endpoint_here
S3_REGION=your_s3_region_here
S3_ACCESS_KEY=your_s3_access_key_here
S3_SECRET_KEY=your_s3_secret_key_here
S3_BUCKET=your_s3_bucket_name_here

PUBLIC_URL=your_public_url_here

# Image Processing Configuration
IMAGE_MAX_SIZE=200 # in KB
IMAGE_QUALITY=80
IMAGE_UPLOAD_SIZE_LIMIT=3 # in MB

# Admin Credentials
ADMIN_NAME="Admin"
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="admin_password_here"

# Midtrans Configuration
MIDTRANS_SERVER_KEY=your_midtrans_server_key_here
MIDTRANS_WEBSITE_ID=your_midtrans_website_id_here